<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url();">
  <div class="container">
    <h1><%= @list.name %></h1>
    <p></p><%= @list.movies.count %> movies</p>
  </div>
</div>


<% @list.bookmarks.each do |bookmark| %>
  <img src="<%= bookmark.movie.poster_url %>"/>
    <h2><%= bookmark.movie.title %></h2>
    <p><%= bookmark.movie.overview %></p>
    <p class="card-movie-rating">Rating: <%= bookmark.movie.rating %></>
    <%= link_to "Delete movie", bookmark_path(bookmark), method: :delete, data: { confirm: "Are you sure?" } %>
<% end %>

<%= link_to new_list_bookmark_path(@list) do %>
  <i class="fa fa-plus"></i> Add a new bookmark
<% end %>
