<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
    <body>

<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="<% link_to root_path %>">
      <img src="https://cdn-icons-png.flaticon.com/512/195/195158.png" alt="Icon of popcorn" width="30" height="30">
    </a>
    <form class="d-flex">
      <button class="btn btn-outline-warning" type="button"><%= link_to "My lists", root_path %></button>
      <button class="btn btn-outline-warning" type="button"><%= link_to "New list", new_list_path %></button>
    </form>
  </div>
</nav>

    <%= yield %>
  </body>
</html>
